.modalBackground {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0.95;
  transition: opacity 0.3s ease;
}

.modalContainer {
  background-color: white;
  box-shadow: 0px 0px 0px #888;
  padding: 10px;
  border-radius: 10px;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
