.app {
  text-align: center;
  background: rgb(230, 230, 230);
}

.form-control:focus {
  box-shadow: none;
}

.read-class {
  width: 335px;
}

.double-underline {
  position: relative;
  text-decoration: none;
}

.double-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

.double-underline:hover::after {
  border-bottom: 4px solid rgba(10, 157, 255, 0.625);
}

@media (max-width: 767px) {
  .mobile-only {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.link-class {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}

.modal-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}
